

page "/"

<h1>EventEase - Browse Events</h1>

<EventCard EventName="Corporate Meetup" EventDate="March 25, 2025" EventLocation="Dallas, TX" />
<EventCard EventName="Social Gala" EventDate="April 2, 2025" EventLocation="Houston, TX" />
